
<form action="/login" method="POST" style="margin:20px;">
    <div class="ex">
        <!-- Content here -->
        <h1>Ingresar Nombre</h1>
        <br>
        <div class="input-group mb-3">
            <!-- <span class="input-group-text" id="basic-addon1">Title</span> -->
            {{!-- <input name="name" id="username" type="text" class="form-control" placeholder="Insert a Nombre " aria-label="Title" aria-describedby="basic-addon1" required> --}}
            <input type="text" class="form-control" id="userName" name="userName" aria-describedby="userName" placeholder="Usuario">
        </div>

        <button type="submit" class="btn btn-success" >Sing in</button>
    </div>
</form>